<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="{{url_for('static', filename='sem1.css')}}" rel="stylesheet" type="text/css">
</head>
    <body>
    <center>

            <h1>
                Главное меню
            </h1>
            <a href="{{ url_for('blueprint_query.query_menu') }}">Работа с запросами</a>
            <br><br>
            <a href="{{ url_for('blueprint_report.report_menu') }}">Работа с отчётами</a>
            <br><br>
            <a href="{{ url_for('blueprint_order.client') }}">Сформировать комиссию</a>
            <br><br>

            <a href="{{ url_for('exit') }}">Выход</a>

        </div>
    </center>
    </body>
</html>