<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<body>
<center>
    <h2>Вход в систему</h2>
    <p>
        <h4>Введите логин и пароль</h4>
        <form action="{{ url_for('blueprint_auth.auth_index') }}" method="post">
        <label for="login">Логин </label>
        <input type="text" placeholder="Введите логин" name="login" id="login" >
        <br><br>
            <label for="passw">Пароль </label>
            <input type="password" placeholder="Введите пароль" name="passw" id="passw" >
        <br><br>

        <input type="submit" value="отправить">
        </form>
    <br><br>
        <a href="{{ url_for('blueprint_auth.auth_exit') }}" method="get">Выход </a>

</center>
</body>
</html>