{% macro render_item(item, key, show_form_add=False, show_form_sub=False, show_form_commission=False) %}

<div style="border-style: solid; border-color: black; margin: 5px">
    {% if item['amount'] %}
    <p>
        <span>Фамилия</span>
        <span style="color: blue">{{item['surname']}}</span>
        <span>Учетный номер</span>
        <span style="color: blue">{{item['account_num']}}</span><br>
    </p>
    {% endif %}

    {% if item['teacher_number'] and show_form_sub %}
    <p>
        <span>Фамилия</span>
        <span style="color: blue">{{item['teacher_surname']}}</span>
        <span>Учетный номер</span>
        <span style="color: blue">{{item['teacher_account']}}</span><br>
    </p>
    {% endif %}

    {% if show_form_commission and item['project_id'] %}
    <p>
        <span>Тема</span>
        <span style="color: blue">{{item['topic']}}</span>
        <span>Оценка</span>
        <span style="color: blue">{{item['grade']}}</span><br>
        <span>Комиссия:</span>
        <span style="color: {{ 'green' if item['has_commission'] else 'red' }}">{{ 'Назначена' if item['has_commission'] else 'Не назначена' }}</span>
    </p>
    <div>
        {% if item['has_commission'] %}
        <form action="{{ url_for('blueprint_order.add_index') }}" method="POST">
            <input type="hidden" name="project_id" value="{{item['project_id']}}">
            <label for="defense_date">Дата комиссии</label>
            <input type="date" name="defense_date" id="defense_date" required>
            <input style="color:red" name="action" type="submit" value="Изменить">
        </form>
        <form action="{{ url_for('blueprint_order.delete_commission') }}" method="POST">
            <input type="hidden" name="project_id" value="{{item['project_id']}}">
            <input style="color:red" name="action" type="submit" value="Удалить">
        </form>
        {% else %}
        <form action="{{ url_for('blueprint_order.add_index') }}" method="POST">
            <input type="hidden" name="project_id" value="{{item['project_id']}}">
            <label for="defense_date">Дата комиссии</label>
            <input type="date" name="defense_date" id="defense_date" required>
            <input style="color:red" name="action" type="submit" value="Назначить">
        </form>
        {% endif %}
    </div>
    {% endif %}

    {% if show_form_add and item['amount'] %}
    <div>
        <form action="{{ url_for('blueprint_order.add_index') }}" method="POST">
            <input type="hidden" name="teacher_id" value="{{item['teacher_id']}}">
            <input style="color:red" name="action" type="submit" value="Добавить">
        </form>
    </div>
    {% endif %}

    {% if show_form_sub and item['teacher_number'] %}
    <div>
        <form action="{{ url_for('blueprint_order.add_index') }}" method="POST">
            <input type="hidden" name="teacher_id" value="{{key}}">
            <input style="color:red" name="action" type="submit" value="Удалить">
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}