<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
    <link href="{{url_for('static', filename='sem1.css')}}" rel="stylesheet" type="text/css">
</head>
    <body>
    <center>
        <div>
            <h2>
                Результат поиска проектов по студенту: {{results[0]['surname']}}
            </h2>


            <p>Найдено позиций: {{ results|length }}</p>
            <table border="1">
                <tr class=tab_title>
                    <td>Код</td>
                    <td>Тема</td>
                    <td>Оценка</td>
                </tr>
                {% for result in results %}
                <tr class=tab_title>
                    <td>{{result['project_id']}}</td>
                    <td>{{result['topic']}}</td>
                    <td>{{result['grade']}}</td>
                </tr>
                {% endfor %}
            </table>

                <br>
                <a href="{{ url_for('blueprint_query.query_index', id=id) }}" method="get">Назад к запросу</a>
                <br>
                <a href="{{ url_for('main_menu') }}">Главное меню</a>
        </div>
    </center>
    </body>
</html>