<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

</head>
    <body>

            <h1>
                ОШИБКА!
            </h1>
    <center>
            <h2>
                Ничего не найдено по указанным параметрам!
            </h2>
            <h4>
                <div>Указанные параметры являются некорректными</div>
                <div>Попробуйте ввести другие параметры</div>
            </h4>

            <a href="{{ url_for('blueprint_query.query_index',id=id) }}" method="get">Вернуться к вводу </a>
            <br><br>
            <a href="{{ url_for('main_menu') }}">Главное меню</a>

    </center>
    </body>
</html>