<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="{{url_for('static', filename='sem1.css')}}" rel="stylesheet" type="text/css">
</head>
    <body>
    <center>

            <h1>
                Главное меню запросов
            </h1>
            <a href="{{ url_for('blueprint_query.query_index', id=1) }}">Проекты по дате</a>
            <br><br>
            <a href="{{ url_for('blueprint_query.query_index', id=2) }}">Проекты по студенту</a>
            <br><br>
            <a href="{{ url_for('blueprint_query.query_index', id=3) }}">Проекты по преподавателю</a>
            <br><br>
            <a href="{{ url_for('blueprint_query.query_index', id=4) }}">Проекты по теме</a>
            <br><br>
            <a href="{{ url_for('main_menu') }}">Назад в главное меню</a>

        </div>
    </center>
    </body>
</html>